body {
    background-color: gold;
}

h1{
    text-align: center;
    color: brown;
}

.container{
    display: inline-block;
    
    margin-left: 43%;
    margin-right: auto;
    background-color: aliceblue;
    margin-bottom: 20px;
    padding: 10px auto;
    padding-right: 20px;
    background-color: rgb(170, 170, 221);
    color: red;
    font-size: 20px;
    
}

.margin{
    margin-left: 40px;
}

.image{
    text-align: center;
}

.container2{
    text-align: center;
}

